body {
    color: #333;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    font-family: 'Nanum Gothic', sans-serif;
}
img {
    display: block;
}


/* HEADER */
header {
    background-color: royalblue;
}
header .inner {
    width: 1000px;
    margin: 0 auto;
    background-color: orange;
}
header .logo {

}